@import "tailwindcss";

.player {
    /* background-image: url("../images/burger.png"); */
    /* background-size: cover; */
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.maze {
    z-index: 0;
}