@import "tailwindcss";

.player {
    /* background-image: url("../images/burger.png"); */
    /* background-size: cover; */
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.maze {
    z-index: 0;
}

@theme {
    --animate-dotLoop: dotLoop 1.5s steps(1, end) infinite;
    --font-ManlineSlabs: "ManlineSlabs", ui-sans-serif, system-ui;

    @keyframes dotLoop {
        0% {
            content: "."
        }
        25% {
            content: ".."
        }
        50% {
            content: "..."
        }
        75% {
            content: ""
        }
        100% {
            content: "."
        }
    }
}

@font-face {
    font-family: 'ManlineSlabs';
    src: url('../assets/fonts/ManlineSlabs-pgPVy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}